{% load static %}
<header class="header" id="navbar">
  <div class="container header__container">
    <a href="{% url 'home' %}" class="header__logo">
      <h1>PostGrad Pathways</h1>
    </a>
    <nav class="header__nav">
      <ul class="nav__list">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
        <li><a href="{% url 'create-room' %}">Start a Discussion</a></li>
        <li><a href="{% url 'jobs' %}">Jobs</a></li>
        <li><a href="{% url 'career-roadmap' %}">Career Roadmaps</a></li>
        <li><a href="{% url 'workshop' %}">Workshop</a></li>
      </ul>
    </nav>
    <form class="header__search" method="GET" action="{% url 'home' %}">
      <input name="q" placeholder="Search for Jobs" />
    </form>
    <div class="header__menu">
      {% if request.user.is_authenticated %}
        <div class="header__user">
          <div class="avatar avatar--medium active"></div>
          <div class="header__userinfo">
            <p>{{ request.user.name|default:request.user.username }}</p>
            <p class="header__email">{{ request.user.email }}</p>
          </div>
          <button class="dropdown-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
              <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
            </svg>
          </button>
        </div>
        <div class="dropdown-menu">
          <a href="{% url 'update-user' %}" class="dropdown-link">Settings</a>
          <a href="{% url 'logout' %}" class="dropdown-link">Logout</a>
        </div>
      {% else %}
        <a href="{% url 'login' %}" class="login-button">
          <p>Login</p>
        </a>
      {% endif %}
    </div>
  </div>
</header>
